*{ 
    margin:0;padding:0;  outline: 0;  
    box-sizing: border-box;
}
html,body{ 
    color:#000; 
    background:#fff; 
    font-family:Microsoft YaHei,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif; 
    width:100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 12px;
}
input,select,button{ 
     font-size:100%;
     outline:0;
     vertical-align:middle;
     -webkit-appearance: none;
 }
button{
    border: 0;
    background-clip: padding-box;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
ol,ul,li { list-style:none;}
/* 定义图片边框，当图片作为链接内容被填充时，会有默认边框出现，重定义掉 */
img{ 
     border:none;
     vertical-align:baseline;
}
a, a:link, a:visited{
     color:#000;
     text-decoration:none;
}
a:hover{ 
    color:#000; 
    text-decoration:underline;
}
/* 标签属性，textarea,input 强制输入时内容超出时换行，打断 */
textarea,input{ 
    word-wrap:break-word; 
    word-break:break-all; 
} 
span,p,div{ 
    word-wrap:break-word;
} 
i{font-style: normal;}
.lf{ float:left; }
.rt{ float:right; }
.clearfix{ content: ''; display: block; clear: both; }

.hide{display: none;}
.show{display: block;}

h2,h3,h4{font-weight: 100;}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/ 
 ::-webkit-scrollbar 
{ 
    width: 0px; 
    height: 6px; 
    background-color: #fff; 
} 
    
/*定义滚动条轨道 内阴影+圆角*/ 
 ::-webkit-scrollbar-track 
{ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px; 
    background-color: #fff; 
} 
    
/*定义滑块 内阴影+圆角*/ 
 ::-webkit-scrollbar-thumb 
{ 
    border-radius: 10px; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); 
    background-color: #d4d4d4; 
} 

.content{
    padding:2% 10%;
}

//自定义复选 单选框样式
.checkbox__label{
    border: 1px solid $C0d0e0f;
    background-color: #fff;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    flex:1;
}
.checkbox-inner{
    display: inline-block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid $C0d0e0f;
    background-color: #FFF;
    z-index: 1;
    position: relative;
    -webkit-transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}
.ischecked .checkbox-inner::after{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    position: absolute;
    border: 2px solid $C0d0e0f;
    border-left: 0;
    border-top: 0;
    height: 12px;
    width: 5px;
    left:11px;
    top: 5px;
    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    -webkit-transform: rotate(45deg) scaleY(1);
    transform: rotate(45deg) scaleY(1);
    -webkit-transition: -webkit-transform .15s ease-in .05s;
    transition: -webkit-transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s, -webkit-transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s,-webkit-transform .15s ease-in .05s;
    -webkit-transform-origin: center;
    transform-origin: center;
}
