.el-menu{
    border-right: 0;
    background: none;
}
.el-submenu,.el-menu-item{
    margin: 5px 0;
    background:$Cbfbfbf;
    &:hover{background:#fff;color: #000 !important;}
}
.is-opened{
    background:$C031f4a;
    .el-menu-item{
        background:rgba(71, 85, 105, 0.7) !important;
    }
    .el-menu{
        height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        
    }
}
.el-menu-item{
    &:hover{background-color:#fff;color: #000 !important;}
}
.el-submenu__title,.el-menu-item,.el-submenu .el-menu-item{
    height: 25px;
    line-height: 24px;
}
.el-menu--inline .el-menu-item{margin:0;}
.el-submenu__title i{color: #fff;}

