.searchCont{
    .el-select{width: 28%;}
    .el-input__inner{border-radius: 4px 0 0 4px;border: 0;}
}
.searchTerm{
    .el-tag{
        height: 26px;
        line-height: 24px;
        border-color: #e4e4e4;
        .el-tag__close{color: $Cfe6a01;
            &:hover{color:#FFF;background-color:$Cfe6a01}
        }

    }
}

/*常用动画*/
.h-anim-slideInLeft{
    animation-name: h-anim-slideInLeft
}
.h-anim-slideOutLeft{
    animation-name: h-anim-slideOutLeft
}
@keyframes h-anim-slideInLeft{
    0%{
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    100%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes h-anim-slideOutLeft{
    0%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); 
    }
    100%{
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-111%, 0, 0);
    }
}